{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database. --}}

{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">

    <div class="jumbotron">
        <h1 id="title">Eat Da Burger</h1>
       
        <br>
        <h2> Add a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">New Burger:</label>
                    <input type="text" id="newburger" name="burger">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="button" class="btn btn-primary" id="addburger"> Submit</button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="left"> Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span>{{this.id}} - {{this.burger_name}} </span>
                                <button type="button" class="btn btn-success" id ="devour" data-id="{{this.id}}" data-newDevoured="{{devour}}"> Devour it!</button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="right"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                 {{this.id}} - {{this.burger_name}}
                                
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>